.why-wrapper {
  padding: 80px 0;
  background: #ffffff;
}

.why-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 0 20px;
}

/* LEFT CONTENT */
.why-left {
  flex: 1;
}

.why-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  color: #111;

}

.why-price {
  font-size: 42px;
  font-weight: 700;
  color: #6346FA;
}

.why-price span {
  color: #6346FA;
}

.why-desc {
  font-size: 18px;
  line-height: 27px;
font-weight: 400;
  color: #444;
  max-width: 520px;
  margin-bottom: 5px;
}

.why-bold {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  line-height: 27px;
  margin-bottom: 40px;
  max-width: 550px;
}

.why-strip {
  background: #e9f2ff;
  padding: 22px 32px;
border-top-left-radius: 28px;
border-top-right-radius: 28px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #4a35e6;

  /* shadow under the box */
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.06);
  background-clip: padding-box;
  position: relative;
}

/* Purple curved bottom border effect */
.why-strip::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  border-radius: 0 0 28px 28px;
  background: linear-gradient(90deg, #6a5bff, #7f60ff);
}

/* RIGHT IMAGE */
.why-right {
  flex: 1.1;
  display: flex;
  justify-content: center;
}

.why-right img {
  width: 100%;
  max-width: 520px;
  border-radius: 22px;
  object-fit: cover;
}

/* RESPONSIVE */
@media (max-width: 940px) {
  .why-container {
    flex-direction: column-reverse;
    text-align: left;
  }

  .why-left, .why-right {
    width: 100%;
  }

  .why-title {
    font-size: 38px;
  }

  .why-price {
    font-size: 32px;
  }
}
